{% extends "shop/base.html" %}
{% block content %}

  {% if not cart_items %}
    <div class = "container">
      <div class = "row">
        <div class = "col-lg-12">
          <h1>Your Shopping Cart is empty</h1>
          <br>
          <p>Please click <a href={% url 'shop-product'%}>here</a> to continue shopping.</p>
        </div>
      </div>
    </div>


  {% else %}
    <div class = "container">
      <div class = "row">
        <div class = "col-lg-12 text-center">
          <h1>Your Shopping Cart</h1>
          <br>
        </div>


        <div class = "col-12 col-sm-12 col-md-12 col-lg-6 text-center">
          <table class="table table-bordered table-responsive">
            <thead class="thead-light">
              <tr>
                <th colspan="5">Your items</th>
              </tr>
            </thead>
            <tbody>
              {% for cart_item in cart_items %}
                <tr>
                  <td class="w-25"><a href="cart_item.product.get_abosolute_url"><img class="w-75" src="{{cart_item.product.imageurl}}"></a></td>
                  <td class="align-middle">
                    {{cart_item.product.brand}} {{cart_item.product.pname}}
                  </td>
                  <td class="align-middle">
                    ${{cart_item.product.price}}
                  </td>
                  {% if cart_item.quantity < cart_item.product.inventory %}
                    <td class="align-middle">
                      Quantity: {{cart_item.quantity}} <a href="{% url 'cart-add' cart_item.product.id %}">+</a>
                    </td>
                  </tr>
                  <tr>
                    <td colspan="5" class="text-right"> Subtotal: ${{cart_item.sub_total}}
                  </tr>
                  {% else %}
                    <a href="#"></a>
                  {% endif %}
              {% endfor %}
            </tbody>
          </table>
        </div>


        <div class = "col-12 col-sm-12 col-md-12 col-lg-6 text-center">
          <table class="table table-bordered table-responsive">
            <thead class="thead-light">
              <tr>
                <th colspan="5">Checkout</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class = "text-justify">Please review your shopping cart items before proceeding with the order payment.</td>
              </tr>
              <tr>
                <td class = "text-right">Your total is: <strong>{{ total }}</strong></td>
              </tr>
            </tbody>
          </table>
          <div class = "row">
            <div class = "col-lg-6">
              <button class="float-left btn" style="background:#f0c14b; border-color:#a88734;" href="{% url 'shop:shop-index' %}">Continue Shopping</btn>
            </div>
            <div class = "col-lg-6">
              <button class = "float-right btn" style="background:#f0c14b; border-color:#a88734;" href="{% url 'shop:shop-index' %}">Proceed to checkout</btn>
            </div>
          </div>

        </div>
      {% endif %}
{% endblock content %}
